@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/* Initialization */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    --text-primary: black;
    --text-secondary: darkgrey;
    --bg-primary: #fff8da;
    --bg-secondary: #d89f3d;
}

/* Main Content Layout */
main {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

main > * {
    flex-grow: 1;
}

.largeTitle {
    font-size: 8vw;
    margin: 0;
    padding: 0;

}

.heading {
    font-size: 4vw;
    margin-bottom: 50px;
}
.content {
    font-size: 25px;
    margin-bottom: 100px;
}

img {
    width: 40vw;
    height: 40vw;
}

.buyButton {
    --color: rgb(82, 82, 255);
    
    margin: 100px auto;
    width: 20vw;
    height: 100px;
    
    font-size: 50px;
    color: var(--color);
    border: 5px solid var(--color);
    border-radius: 15px;
    background-color: white;

    transition: color ease 400ms;
    transition: background-color ease 400ms;
}

.buyButton:hover {
    background-color: var(--color);
    color: white;
    cursor: pointer;
}


/* Main Flexbox Layout */
.flexContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.flexElement {
    width: 100vw;
    flex-grow: 1;
    flex-basis: 0;
}

.flexElement.text {
    display: flex;
    flex-direction: row;
}

.flexElement.text > div{
    padding: 5vw;
    flex-grow: 1;
    flex-basis: 0;
}

/* Small Screen Media Query (NEEDS WORK) */
@media only screen and (max-width: 600px) {
    .flexElement.text {
        display: flex;
        flex-direction: column;
    }
}


/* Game Canvas */
#canvas {
    /* Sizing */
    width: 60%;
    height: 40vw;
    margin: 0;
    
    /* Styling */
    background-color: #fde7c9;
    background-image: url(assets/pixelKitchen.png);
    background-size: contain;
    border-radius: 10px;
    border: solid 2px black;
}


/* Scrollbar styling */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background: darkgoldenrod;
}