@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/* General Layout & Styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    --text-primary: black;
    --text-secondary: darkgrey;
    --bg-primary: #fff8da;
    --bg-secondary: #d89f3d;
}

body {
    text-align: center;
}

.title {
    font-size: 6vw;
    margin: 0;
    padding: 0;
}

.heading {
    font-size: 3vw;
    margin-bottom: 50px;
}
.content {
    font-size: 26px;
    margin-bottom: 100px;
}

img {
    width: 40vw;
    height: 40vw;
}

/* Grid Layout */
.gridContainer {
    display: grid;
}

.gridContainer > * {
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0px;
}

.gridElement:nth-child(1) {
    background-image: url(assets/images/wokflip.png);
}
.gridElement:nth-child(2) {
    background-image: url(assets/images/wokin.png);
    padding-right: 50vw;
    padding-left: 10vw;
    padding-top: 20vh;
}
.gridElement:nth-child(3) {
    background-image: url(assets/images/confused.png);
    padding-right: 10vw;
    padding-left: 50vw;
    padding-top: 10vh;
}

/* Small Screen Media Query (NEEDS WORK) */
@media only screen and (max-width: 600px) {
    .flexElement.text {
        display: flex;
        flex-direction: column;
    }
}

/* Game Canvas */
#canvas {
    /* Sizing */
    width: 60%;
    height: 40vw;
    margin: 0;
    
    /* Styling */
    background-color: #fde7c9;
    background-image: url(assets/game/pixelKitchen.png);
    background-size: contain;
    border-radius: 10px;
    border: solid 2px black;
}

/* Buy Now Persistent Button */
.buyButton {
    --color: rgb(85, 100, 255);
    
    margin: 100px auto;
    width: 20vw;
    height: 100px;
    
    font-size: 50px;
    color: var(--color);
    border: 5px solid var(--color);
    border-radius: 15px;
    background-color: white;

    transition: color ease 400ms;
    transition: background-color ease 400ms;
}

.buyButton:hover {
    background-color: var(--color);
    color: white;
    cursor: pointer;
}

/* Scrollbar styling */
body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background: darkgoldenrod;
}